Repository GoAmeer030/AssetHub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

updated readme
  README.md
  package.json
Due: prettier --write

updated hook
  .husky/commit-msg
Due: none

updates
  .husky/commit-msg
Due: none

updated git hooks
  .husky/pre-commit
  client/components/Footer.tsx
Due: prettier --write, eslint --fix, eslint

removed unneccesary packages
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

chore: removed pre-commit
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, eslint

chore: updated commit-msg hook
  .husky/commit-msg
Due: none

changed `db schema and related things`
  server/prisma/schema.prisma
  server/src/managers/topicManager.ts
  server/src/server.ts
Due: prettier --write, eslint --fix, eslint

test
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc
  client/components/Footer.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, eslint

test
  .husky/pre-commit
  .lintstagedrc
  client/components/Footer.tsx
  package.json
Due: prettier --write, eslint --fix, eslint

changed `Files -> Topics frontend`
  client/api/topicApi.ts
  client/app/[role]/[id]/dashboard/page.tsx
  client/components/LogoutButton.tsx
  client/components/SearchCard.tsx
  client/components/ShowTopics.tsx
  client/components/TopicAddDialog.tsx
  client/components/form/TopicAddForm.tsx
  client/hooks/auth/verifyTokenHook.ts
  client/hooks/topicHooks.ts
  client/stores/paramStore.ts
  client/stores/topicStore.ts
  client/types/paramStore.ts
  client/types/topicType.ts
  server/src/server.ts
Due: prettier --write, eslint --fix, eslint

improved few things
  client/components/LogoutButton.tsx
  client/components/Navbar.tsx
  client/components/SearchCard.tsx
  client/components/ShowTopics.tsx
  client/components/form/TopicAddForm.tsx
  client/components/icons/DeleteIcon.tsx
  client/components/icons/LogoutIcon.tsx
  client/components/icons/SearchIcon.tsx
  client/public/DeleteIcon.svg
  client/public/LogoutIcon.svg
  client/public/SearchIcon.svg
  client/styles/globals.css
  server/src/server.ts
Due: prettier --write, eslint --fix, eslint

chore: added husky and git hooks
  .husky/commit-msg
  .lintstagedrc
  client/client/package-lock.json
  client/client/package.json
  client/components/Footer.tsx
  client/components/Login.tsx
  commitlint.config.js
  commitlint.config.ts
  server/server/package-lock.json
  server/server/package.json
Due: prettier --write, eslint --fix, eslint

chore: added commitizen
  package-lock.json
  package.json
Due: prettier --write

chore: updated configs
  commitlint.config.js
  commitlint.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, eslint

style(theme): changed theme to purple
  client/styles/globals.css
Due: prettier --write

chore: updated git hooks
  .husky/commit-msg
  client/app/[role]/[id]/dashboard/page.tsx
Due: prettier --write, eslint --fix, eslint

refactor(client): adjusted width of the page and components
  client/app/[role]/[id]/dashboard/page.tsx
  client/app/page.tsx
  client/components/AddTopicDialog.tsx
  client/components/SearchCard.tsx
  client/components/ShowTopics.tsx
Due: prettier --write, eslint --fix, eslint

style(dashboard): layout change
  client/app/[role]/[id]/dashboard/page.tsx
  client/components/AddTopicButton.tsx
  client/components/SearchCard.tsx
Due: prettier --write, eslint --fix, eslint

style(dashboard): added background beams
  client/app/[role]/[id]/dashboard/layout.tsx
  client/components/AddTopicButton.tsx
  client/components/ui/background-beams.tsx
  client/components/ui/sparkles.tsx
  client/package-lock.json
  client/package.json
  client/tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

style(navbar): increased z-index
  client/app/[role]/[id]/dashboard/layout.tsx
  client/components/Navbar.tsx
  client/components/SearchCard.tsx
Due: prettier --write, eslint --fix, eslint

feat(dashboard): added profile card for staff
  client/app/[role]/[id]/dashboard/page.tsx
  client/components/AddTopicButton.tsx
  client/components/AddTopicDialog.tsx
  client/components/Footer.tsx
  client/components/Navbar.tsx
  client/components/ProfileCard.tsx
  client/components/form/AddTopicForm.tsx
  client/tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

feat(client): added meteors to layout
  client/app/[role]/[id]/dashboard/layout.tsx
  client/app/[role]/[id]/dashboard/page.tsx
  client/app/layout.tsx
  client/components/Login.tsx
  client/components/Navbar.tsx
  client/components/ui/meteors.tsx
  client/package-lock.json
  client/tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

style(footer): made footer responsive
  client/components/Footer.tsx
  client/components/Login.tsx
  client/package-lock.json
Due: prettier --write, eslint --fix, eslint

feat(docker): added docker not completed
  .gitignore
  client/.dockerignore
  client/Dockerfile
  client/package-lock.json
  docker-compose.yml
  server/.dockerignore
  server/Dockerfile
  server/package.json
Due: prettier --write

chore: update docker
  client/.dockerignore
  client/Dockerfile
  client/package-lock.json
  docker-compose.yml
  server/.dockerignore
  server/package-lock.json
Due: prettier --write

feat(client): initiated the contact page
  client/app/contact/page.tsx
Due: prettier --write, eslint --fix, eslint

chore(docker): updated docker
  .env.template
  .gitignore
  README.md
  client/Dockerfile
  client/dev-Dockerfile
  dev-docker-compose.yml
Due: prettier --write

style(SearchCard): removed word searching on loading
  client/components/SearchCard.tsx
Due: prettier --write, eslint --fix, eslint

style(login): added meteors to login form
  client/app/layout.tsx
  client/components/Login.tsx
  client/components/form/LoginForm.tsx
Due: prettier --write, eslint --fix, eslint

refactor: server
  client/api/topicApi.ts
  dev-docker-compose.yml
  server/src/managers/assetManager.ts
  server/src/managers/authManager.ts
  server/src/managers/topicManager.ts
  server/src/middleware.ts
  server/src/server.ts
  server/types/extendedTypes.ts
Due: prettier --write, eslint --fix, eslint

feat(Register staff): not finished
  client/api/auth/staffRegister.ts
  client/app/admin/page.tsx
  client/app/page.tsx
  client/components/RegisterStaff.tsx
  client/components/form/LoginForm.tsx
  client/components/form/StaffRegisterForm.tsx
  client/hooks/auth/staffRegisterHook.ts
  client/stores/usersStore/staffStore.ts
  client/types/usersTypes/staffType.ts
Due: prettier --write, eslint --fix, eslint

refactor(client): changed some things
  .env.template
  client/api/auth/verifyToken.ts
  client/api/topicApi.ts
  client/app/page.tsx
  client/hooks/auth/staffRegisterHook.ts
  client/lib/validations/StudentLoginFormSchema.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, eslint

refactor(client): created validations for schemas
  client/app/page.tsx
  client/components/RegisterStaff.tsx
  client/components/form/AddTopicForm.tsx
  client/components/form/LoginForm.tsx
  client/components/form/StaffRegisterForm.tsx
  client/lib/validations/AddTopicFormSchema.ts
  client/lib/validations/RegisterStaffSchema.ts
  client/lib/validations/StaffLoginFormSchema.ts
  client/lib/validations/StudentLoginFormSchema.tsx
Due: prettier --write, eslint --fix, eslint

fix(redirecting): removed auto re-routing logic in navbar
  client/components/Navbar.tsx
Due: prettier --write, eslint --fix, eslint

fix(staffRegister): fixed staff register feat
  server/src/managers/adminManager.ts
  server/src/managers/userManager.ts
  server/src/server.ts
  server/types/usersTypes.ts
Due: prettier --write, eslint --fix, eslint

fix(staffRegister): fixed feat(staffRegister)
  client/api/auth/staffRegister.ts
  client/api/userApi.ts
  client/app/[role]/[id]/dashboard/page.tsx
  client/components/ProfileCard.tsx
  client/components/form/StaffRegisterForm.tsx
  client/hooks/topicHooks.ts
  client/hooks/userHooks.ts
  client/stores/usersStore/staffStore.ts
  client/types/usersTypes/staffType.ts
Due: prettier --write, eslint --fix, eslint

fix(navbar): used nextui navbar component
  client/app/[role]/[id]/dashboard/page.tsx
  client/app/layout.tsx
  client/components/AddTopicButton.tsx
  client/components/Navbar.tsx
  client/components/ProfileCard.tsx
  client/tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

refactor(forms): changed the style of the form items
  client/components/RegisterStaff.tsx
  client/components/form/AddTopicForm.tsx
  client/components/form/StaffRegisterForm.tsx
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css,scss,yml,yaml,html})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
